# Task 3

First, update the following cell to have a link to your Homework 1 GitHub repository:


**UPDATE THIS LINK:**

https://github.com/mariamkg00/eds220-hwk-1


In this task, make at least 5 commits at moments you think are adequate. We'll look at your repo to check commit history.

Add comments for all your code. Err on the side of commenting too much for now. 

Comments in each exercise and commits will count towards your grade.

This task covers topics we will see on Monday Oct. 9. The best strategy to solve it is to get together with your classmates and work on it together after Monday's lecture.


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

This dataset pertains coral cover in the Western Indian Ocean. This dataset's geographic location of data collection included countries such as Madagascar, Tanzania, and parts of Mozambique and Kenya. The data collection lasted from 1998 to 2022. The makers of this dataset were affiliated with the Wildlife Conservation Society, funded by the US Agency for International Development and the US Department of Interior. This dataset aims to help serve as a predictive model for future numbers of coral groups.

Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity.doi:10.5063/F1K35S3H.
Date of Access: 10 October 2023 
Link: https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H#urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d

## 2
In the next code cell, import the pandas package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [46]:
# importing pandas
import pandas as pd 

# reading in the coral data 
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

a. how many rows and columns does it have?

b. what are the column names?

c. what are the data types of the columns?

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (see discussion section)

e. some inital info you are interested in. 

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

In [7]:
# a
#checking the number of rows and columns of coral_div using shape
coral_div.shape
#There are 575 rows and 42 columns in this dataframe.

(575, 42)

In [11]:
# b
# finding the column names of coral_div using .columns
coral_div.columns
#The output prints out the names of the 42 columns of the dataframe coral_div.

Index(['PU_ID', 'PU_Lat', 'PU_Lon', 'Number_of_genera', 'Country', 'Ecoregion',
       'Management', 'Habitat', 'Observer', 'Depth', 'Coralcover',
       'SSTRateofRise', 'PARmax', 'Calcite', 'Dis_oxygen', 'mean.waveNRJ',
       'Salinity_mean', 'andrello_reef_value', 'andrello_nutrients',
       'mean.npp', 'TT_market_hrs', 'TT_pop_hrs', 'cumDHW', 'SST_Kurtosis',
       'SST_Median', 'ChlorA_median', 'andrello_sediments', 'Current_vel_mean',
       'Diff_attenuation', 'Grav_NP', 'Grav_NC', 'PH', 'SST_bimodality',
       'SST_Skewness', 'ClimateStressModel', 'Netflow', 'Indegree',
       'Outdegree', 'Retention', 'min_yr', 'max_yr', 'no_replicates'],
      dtype='object')

In [ ]:
# c
#using .dtypes to figure out the type each column is. 
coral_div.dtypes
# most of the columns are floats, but some of the columns are integer values and objects (strings)

In [ ]:
# d
#displaying the first 8 rows with all the column names using integer location
coral_div.iloc[0:8,:]

#displaying the first 8 rows using the head function
coral_div.head(8)


#these two functions both print out the first 8 rows of the coral_div dataset, while also including all 42 rows.
#Python is 0 indexed, so the number of rows is 8, but it ranges from 0-7.

In [24]:
# e
#initial information I'm interested in: habitat, SST, coral cover, and ph

coral_attributes = coral_div[['Habitat', 'SSTRateofRise','Coralcover','PH','Management']]


#printing out the new dataframe I made to see what it entails:
coral_attributes

coral_attributes['Coralcover'].info

<bound method Series.info of 0      45
1      45
2      45
3      45
4      48
       ..
570    47
571    47
572    47
573    47
574    47
Name: Coralcover, Length: 575, dtype: int64>

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

A column like 'PH' in this dataframe have datatype float64, this is because the values in this column are `floats` meaning that they contain decimal places and are a continuous value, with values that lie within integer values. 

The 'Coralcover' column in this dataframe have datatype int64, this is because the values in this column are `integers`, they are whole numbers that do *not* contain decimal values, rather whole numbers.

## 5

The `Country` column indicates the country of reef location. Explain in your words what is the ouput of `coral_div.Country` and `coral_div.Country.unique()`.

The output of `coral_div.Country` simply prints out the Country column in the dataframe `coral_div`,and `coral_div.Country.unique()` prints out an array of different countries found in this dataset.

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: use the `len` Python function. Not sure what `len` does? Use `?`.

In [47]:
# solve exercise here

#Looking in the README, I found that the column name is called `Observer`. To find how many observeres collected this data:
len(coral_div['Observer'].unique())

#There are 16 different observers that collected data in this dataset.

16

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6km reef cell surveyed. What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

The data that is being selected with `coral_div[coral_div['Coralcover'] >= 50]` is rows within the dataset that contain percent of hard coral cover greater than or equal to fifty percent.

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania.

In [48]:
#using similar syntax for above, but using == instead to find exactly 30, and setting the country == Tanzania.
coral_div[ (coral_div['Coralcover'] == 30) & (coral_div['Country'] == 'Tanzania') ]

#There are 9 sites in Tanzania with a 30% coral cover.

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,...,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,...,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,...,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,...,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,...,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,...,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,...,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (PSS) (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Select this data.

In [53]:
# selecting the columns using the double brackets syntax

coral_div[['PH','Salinity_mean','Depth']]

         PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017.

In [59]:
# max_year == 2017; PH, salinity, depth , using loc
coral_div.loc[ coral_div['max_yr'] == 2017 , ['max_yr','PH','Salinity_mean','Depth']]

     max_yr      PH  Salinity_mean      Depth
67     2017  8.2150      35.100085  16.000000
68     2017  8.2145      35.144927  10.000000
70     2017  8.2150      35.101086  11.000000
71     2017  8.2150      35.101086  11.000000
72     2017  8.2150      35.101086   9.000000
73     2017  8.2150      35.101086   9.000000
84     2017  8.2110      35.278084  12.500000
85     2017  8.2110      35.278084   6.000000
164    2017  8.2220      35.337914   9.875000
167    2017  8.2220      35.337914  12.075000
169    2017  8.2220      35.337914  10.300000
172    2017  8.2220      35.337914  11.000000
174    2017  8.2225      35.287419   7.266667
176    2017  8.2225      35.287419  13.225000
179    2017  8.2225      35.287419  10.550000
182    2017  8.2220      35.331669  12.033333
185    2017  8.2230      35.374460  10.900000
188    2017  8.2230      35.374460  14.725000
191    2017  8.2230      35.247482   9.725000
194    2017  8.2230      35.341358  11.075000
197    2017  8.2230      35.390354  10.600000
346    2017  8.2165      35.114244   7.000000
347    2017  8.2165      35.112398   3.000000
348    2017  8.2165      35.112398   4.000000
349    2017  8.2160      35.117374   5.500000
350    2017  8.2160      35.117374   2.000000
351    2017  8.2160      35.117374  15.000000
352    2017  8.2160      35.117374   5.000000
353    2017  8.2165      35.149462  11.000000
354    2017  8.2160      35.270199   9.000000
395    2017  8.2400      35.276642   9.416667
559    2017  8.2120      35.204185   1.500000
566    2017  8.2400      35.301208  17.000000
569    2017  8.2400      35.301208  13.833333
574    2017  8.2400      35.301208  13.470000

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Are you indexing from 0?

In [62]:
# [row,column] notation ; 0 index; 
subset = coral_div.iloc[95:101,[16,19,27]]
subset

     Salinity_mean     mean.npp  Current_vel_mean
95       35.201630  1365.146729          0.878417
96       35.204185  1117.635010          0.839372
97       35.234774  1105.270142          0.685955
98       35.234774  1105.270142          0.685955
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

The outputs return either False or True, True if the value in the cell 'not a number', and False if the value in the cell **is** a number.

In [63]:
#using the is.na() function to see whether or not there are NaN values. 
subset.isna()

     Salinity_mean  mean.npp  Current_vel_mean
95           False     False             False
96           False     False             False
97           False     False             False
98           False     False             False
99           False     False              True
100          False     False              True

## 13
Run `subset.isna().any()`. Explain what this code does and what the output represents. HINT: It could be helpful to check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

The output of `subset.isna().any()`returns true or false values, depending on whether or not a column contains a NaN value. The value returns true when at least one of the elements in the series (columns) contains a NaN value.

In [64]:
#using the subset series to find whether or not at least one NaN value is in the columns.
subset.isna().any()

Salinity_mean       False
mean.npp            False
Current_vel_mean     True
dtype: bool

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. HINT: you can use your answer for 9.

In [66]:
# using row location to select the rows
subset.loc[subset['Current_vel_mean'].isna() , ['Current_vel_mean']]

     Current_vel_mean
99                NaN
100               NaN